.Name{
    text-align:center;
    background-color:blueviolet;
    color:antiquewhite;
    font-size:larger;


}
.b{
    background-color: rgb(199, 199, 13);
    font-size:medium;
    font-size:larger;
}
.Adress{

    color:antiquewhite;
    background-color:brown;
    font-size:larger;

}